footer {
    background-color: var(--primary-green);
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer>a{
    font-size: 0.8rem;
    margin: 0 2.5rem;
    color: inherit;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
}