/* Header.jsx */
header {
    background-color: var(--primary-green);
    height: 7.5rem;
    display: flex;
    align-items: center;
    padding: 0 5rem;
    justify-content: space-between;
}

#mainLogo {
    font-family: "Overpass Mono", monospace;
    font-optical-sizing: auto;
}

#mainLogo h1 {
    font-size: 1.5rem;
    font-weight: normal;
    text-decoration: underline;
    text-shadow: 0px 2px 2px rgba(0,0,0,0.25);
}

#navButtons {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
}

#navButtons>*{
    margin:0px 1rem ;
    font-size: 1rem;
    color: inherit;
}

#navButtons>.buttonLink{
    color: white;
    background-color: var(--button-brown);
    display: inline-block;
    padding: 1rem;
    width: 5rem;
    text-align: center;
    border-radius: 50px;
}

#navButtons>.buttonLink:hover{
    opacity: 95%;
}